.valorTotal {
    font-size: 18px;
    font-weight: bold;
}

.clear {
    clear: both;
}

.ponteiroCursor {
    cursor: pointer;
}

.largura50 {
    width: 50px;
}

.carrinhoVazio {
    color: #f32;
    font-size: 20px;
    font-style: italic;
    text-align: center;
    padding: 10px 0;
}
