<!--Template base -->
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Loja{% endblock %}</title>
    {% block extra_css %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
</head>
<body>
    <!--Menu-->
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a class="pull-right" href="{% url 'home' %}">Home</a></li>
            <li><a class="pull-right" href="{% url 'mostrar_carrinho' %}">Meu carrinho</a></li>
            <li><a class="pull-right" href="{% url 'minhas_compras' %}">Minhas Compras</a></li>
            {% if user.is_authenticated %}<li><a class="pull-right" href="/logout">Logout</a></li>{% endif %}
          </ul>
        </div>
      </div>
    </nav>
    
    <div class="col-md-12" id="blocoMensagem">
      {% if messages %}
        {% for message in messages %}
          {% if message.tags == 'error' %}
            <p class="alert alert-danger">{{ message }}</p>
          {% else %}
            <p class="alert alert-{{ message.tags }}">{{ message }}</p>
          {% endif %}

        {% endfor %}
      {% endif %}
    </div>

    {% block content %}{% endblock %}
    
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>

    {% block extra_js %}{% endblock %}
</body>
</html>